<div class="ui container" ng-controller="WelcomeController">
    <div class="jumbotron  middle">
        <div class="ui centered grid">
        	<div class="">


            <h1> App Name </h1>
            <br>

            <!-- input -->
            <!-- <div class="ui input">
                <input ng-model="email" name="email" type="text" placeholder="Email">
            </div>
            <br>
            <br>
            <div class="ui input">
                <input ng-model="password" type="password" name="password" placeholder="Password">
            </div>
            <br>
            <br> -->

            <!-- buttons -->
            <button class="ui positive basic button" ng-click="register()">Begin</button>
            </div>

        </div>
    </div>
</div>
